

<div class="views">

  <div class="view view-main">
    <div class="pages">
      <div data-page="shop" class="page">
        <div class="page-content">


          <app-header></app-header>


          <!-- SlideInPage -->
          <!-- <app-bar-page 
            *ngIf="showBarPage" 
            [barPageIdChange]="barPageId"
            [slideInBar]="barSlide">
          </app-bar-page>            



          <app-main-scroll *ngIf="true" (barCardClick)="activateBarSlide($event)"></app-main-scroll> -->
          <router-outlet></router-outlet>




          <app-navbar></app-navbar>





        </div>
      </div>
    </div>
  </div>
</div>