

<div class="views">

  <div class="view view-main">
    <div class="pages">
      <div data-page="shop" class="page">
        <div class="page-content">

          <div class="user_slide">
            <app-user-slide></app-user-slide>
          </div>


          <div class="main_content">
            <div class="block_clicks" style="pointer-events:none;">
              <app-header></app-header>
              <router-outlet></router-outlet>
              <app-navbar></app-navbar>
            </div>
          </div>






        </div>
      </div>
    </div>
  </div>
</div>
