

<div class="views">

  <div class="view view-main">
    <div class="pages">
      <div data-page="shop" class="page">
        <div class="page-content" id="mainPage">


          <div class="user_slide" style="-webkit-overflow-scrolling:touch;">
            <app-user-slide></app-user-slide>
          </div>


          <div class="main_content">
              <div *ngIf="userSlide" class="pageClick" (click)="pageClick()"></div>
              <div id="headerAndRouter">
                <app-header></app-header>
                <div id="routerHolder" >
                  <router-outlet></router-outlet>
                </div>
              </div>
              <app-navbar></app-navbar>
          </div>






        </div>
      </div>
    </div>
  </div>
</div>
