<?xml version='1.0' encoding='utf-8'?>
<widget id="io.cordova.hellocordova" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>BarCrawl</name>
    <description>
        BarCrawl v4.0
    </description>
    <author email="jgmalafronte@gmail.com" href="http://cordova.io">
        Joseph Malafronte
    </author>
    <content src="index.html" />
    <plugin name="cordova-plugin-whitelist" spec="1" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <allow-intent href="market:*" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
        <icon src="AppStore/AppIcon1024.png" width="1024" height="1024" />
    </platform>

    <!-- iPhone 6 / 6+ -->
    <icon src="AppStore/AppIcon1024.png" platform="ios" width="180" height="180" />

    <!-- iPhone / iPod Touch  -->
    <icon src="AppStore/AppIcon1024.png" platform="ios" width="60" height="60" />
    <icon src="AppStore/AppIcon1024.png" platform="ios" width="120" height="120" />

    <!-- iPad -->
    <icon src="AppStore/AppIcon1024.png" platform="ios" width="76" height="76" />
    <icon src="AppStore/AppIcon1024.png" platform="ios" width="152" height="152" />
    <icon src="AppStore/AppIcon1024.png" platform="ios" width="167" height="167" />

    <!-- Settings Icon -->
    <icon src="AppStore/AppIcon1024.png" platform="ios" width="29" height="29" />
    <icon src="AppStore/AppIcon1024.png" platform="ios" width="58" height="58" />
    <icon src="AppStore/AppIcon1024.png" platform="ios" width="87" height="87" />

    <!-- Spotlight Icon -->
    <icon src="AppStore/AppIcon1024.png" platform="ios" width="40" height="40" />
    <icon src="AppStore/AppIcon1024.png" platform="ios" width="80" height="80" />
    <icon src="AppStore/AppIcon1024.png" platform="ios" width="120" height="120" />


    <engine name="browser" spec="~5.0.4" />
</widget>
