<app-bar-page *ngIf="showBarPage" [barPageIdChange]="barPageId" [slideInBar]="barSlide" [location]="'liked-bars'">
  </app-bar-page>
  

<div style="margin: 12% 5% 0% 5%;" *ngIf="showInfo">

  <!-- HEADER -->
  <div *ngIf="attendingBarCards.length>0" style="padding: 10px 0 0 0; border-bottom:1px black solid;">
    <h3 style="padding: 0 0 0 0;">
      <span>Bars You Are Attending Tonight</span>
    </h3>
  </div>

  <!-- For each here -->
  <ul class="shop_items" style="padding-top: 13px;">

      <!-- BAR CARD -->
      <li id="barCard" *ngFor="let barCard of attendingBarCards" (click)="onBarCardClick($event,barCard.barId)">
        <div class="shop_thumb">
          <img src={{barCard.barPictureUrl}} alt="" title="" class="barCardPic" />
        </div>
        <div class="shop_item_details">
          <h4>{{barCard.barName}}</h4>
          <ul class="features_list" style="padding: 0% 0 0 0;">
            <li>
              <span class="features_list_span">
                <img src={{barCard.highlight1Icon}} alt="" title="" />
                <span class="features_list_span_text">{{barCard.highlight1}}</span>
              </span>
            </li>
            <li>
              <span class="features_list_span">
                <img src={{barCard.highlight2Icon}} alt="" title="" />
                <span class="features_list_span_text">{{barCard.highlight2}}</span>
              </span>
            </li>
          </ul>
          <span class="open-popup shopfav" (click)="likeBar(barCard)">
            <!-- <app-like></app-like> -->
            <img id="like" [src]="checkLikedStatus(barCard)? './assets/images/icons/black/lovefilledblack.png' : './assets/images/icons/black/love.png'"
              alt="" title="" />
          </span>
        </div>
      </li>
  
    </ul>
  

  <!-- HEADER -->
  <div style="padding: 10px 0 0 0; border-bottom:1px black solid;">
    <h3 style="padding: 0 0 0 0;">
      <span>Liked Bars</span>
    </h3>
  </div>

  <!-- For each here -->
  <ul class="shop_items" style="padding-top: 13px;">

    <!-- BAR CARD -->
    <li id="barCard" *ngFor="let barCard of barCards" (click)="onBarCardClick($event,barCard.barId)">
      <div class="shop_thumb">
        <img src={{barCard.barPictureUrl}} alt="" title="" class="barCardPic" />
      </div>
      <div class="shop_item_details">
        <h4>{{barCard.barName}}</h4>
        <ul class="features_list" style="padding: 0% 0 0 0;">
          <li>
            <span class="features_list_span">
              <img src={{barCard.highlight1Icon}} alt="" title="" />
              <span class="features_list_span_text">{{barCard.highlight1}}</span>
            </span>
          </li>
          <li>
            <span class="features_list_span">
              <img src={{barCard.highlight2Icon}} alt="" title="" />
              <span class="features_list_span_text">{{barCard.highlight2}}</span>
            </span>
          </li>
        </ul>
        <span class="open-popup shopfav" (click)="likeBar(barCard)">
          <!-- <app-like></app-like> -->
          <img id="like" [src]="checkLikedStatus(barCard)? './assets/images/icons/black/lovefilledblack.png' : './assets/images/icons/black/love.png'"
            alt="" title="" />
        </span>
      </div>
    </li>

  </ul>

</div>

<div *ngIf="!showInfo" class="loadingHolder">
    <div class="lds-ring"><div></div><div></div><div></div><div></div></div>
</div>