<div *ngIf="showCoverPopUp" style="text-align: center;">
  <div id="open-modal" class="modal-window">
    <div *ngIf="!coverSubmissionLoader">
      <a (click)="showCoverPopUp = false" title="Close" class="modal-close">&times;</a>
      <h2>Report Cover</h2>
      <div style="margin: 0 7px 0 0px;">
        <img (click)="decrementReportCover()" class="minus" src="./assets/images/minus.png">
        <span class="coverHeading">${{reportCoverValue}}</span>
        <img (click)="incrementReportCover()" class="plus" src="./assets/images/plus.png">
      </div>

      <div (click)="reportCover()" style="text-align: center">
        <span style="margin: 7px 0px 0px 0; width:200px; font-size:14px;" class="btn btn--full">Submit</span>
      </div>

    </div>
    <div *ngIf="coverSubmissionLoader">
      <div style="width:100%;">
        <div class="checkmarkHolder">
          <!-- <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" x="0px"
                      y="0px" viewBox="0, 0, 100, 100" id="checkmark">
                      <g transform="">
                        <circle id="path" class="path" fill="none" stroke="#F2C843" stroke-width="4" stroke-miterlimit="10" cx="50" cy="50" r="44" />
                        <circle id="fill" class="fill" fill="none" stroke="#F2C843" stroke-width="4" stroke-miterlimit="10" cx="50" cy="50" r="44" />
                        <polyline id="check" class="check" fill="none" stroke="#F2C843" stroke-width="8" stroke-linecap="round" stroke-miterlimit="10" points="70,35 45,65 30,52  "
                        />
                      </g>
                    </svg> -->

          <div id="circleLoader" class="circle-loader">
            <div id="checkLoader" class="checkmarkHidden draw"></div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>

<div *ngIf="showFriendPopUp" style="text-align: center;">
  <div id="open-modal" class="modal-window">
    <div style="margin: 45% 0 0 7%">
      <a (click)="hideFriendPopUp()" title="Close" class="modal-close">&times;</a>

      <div *ngIf="!isLoading">
        <br />
        <img src="{{friendUser.profilePicUrl == 'null'? './assets/images/users/blank_profile.png' : friendUser.profilePicUrl}}" class="profilePic">
        <h2 style="margin: 0 0 0 0">{{friendUser.firstName}} {{friendUser.lastName}}</h2>
        <p>{{friendUser.userName}}</p>

        <div *ngIf="!isFriend && showRequestButton">
          <span *ngIf="!isRequestOut && !isRequestIn" (click)="sendFriendRequest()" style="margin: 10px 0px 10px 0; width:300px; font-size:14px;"
            class="btn btn--full">Add Friend</span>
          <span *ngIf="isRequestOut" style="margin: 10px 0px 10px 0; width:300px; font-size:14px;" class="btn btn--full">Friend Request Sent!</span>
          <span *ngIf="isRequestIn" (click)="acceptFriendRequest()" style="margin: 10px 0px 10px 0; width:300px; font-size:14px;" class="btn btn--full">Accept Friend Request
          </span>
        </div>
        <div *ngIf="isFriend">
          <span style="margin: 10px 0px 10px 0; width:300px; font-size:16px;" class="btn btn--full">View Bars Attending Tonight</span>
          <span style="margin: 0px 0px 0px 0; width:300px; font-size:16px;" class="btn btn--full">View Friends List</span>
        </div>
      </div>

    </div>
  </div>
</div>

<!-- Profile Pic Editing -->
<div *ngIf="showProfilePicEditing" style="text-align: center;">
  <div id="open-modal" class="modal-window" style="z-index: 11000;">
    <div style="bottom: 100px; padding-bottom: 1rem;">
      <a (click)="hideProfilePicEditing()" title="Close" class="modal-close">&times;</a>
      <div *ngIf="!submittingProfilePic">
        <h2>Edit Profile Picture</h2>

        <div *ngIf="showCurrentAvatar" style="margin-top: 20px;">
          <div>
            <img style="max-width: 100%" src="{{currentAvatarUrl == 'null'? './assets/images/users/blank_profile.png' : currentAvatarUrl}}">
          </div>

          <div class="upload-btn-wrapper">
            <span style="margin: 10px 0px 10px 0; width:150px; font-size:14px;" class="btn btn--full">Change Picture</span>
            <input type="file" name="myfile" (change)="fileChangeEvent($event)" accept="image/*" />
          </div>
        </div>

        <div *ngIf="!showCurrentAvatar" style="margin-top: 20px;">
          <div>
            <image-cropper style="max-height: 350px;" [imageChangedEvent]="imageChangedEvent" [maintainAspectRatio]="true" [aspectRatio]="1 / 1"
              [resizeToWidth]="300" format="jpeg" (imageCropped)="imageCropped($event)" (imageLoaded)="imageLoaded()" (cropperReady)="cropperReady()"
              (loadImageFailed)="loadImageFailed()"></image-cropper>
          </div>
          <span (click)="doneEditing()" style="margin: 20px 0px 0px 0; width:150px; font-size:14px;" class="btn btn--full">Done</span>
        </div>
      </div>

      <div *ngIf="submittingProfilePic">
        <div style="width:100%;">
          <div class="checkmarkHolder">

            <div id="circleLoader" class="circle-loader">
              <div id="checkLoader" class="checkmarkHidden draw"></div>
            </div>

          </div>
        </div>
      </div>


    </div>


  </div>
</div>