<div class="navbar navbar--fixed navbar--fixed-top navbar--bg" style="background-color:black; 
padding-top: constant(safe-area-inset-top); padding-top: env(safe-area-inset-top);">
  <div class="navbar__col navbar__col--icon navbar__col--icon-right" (click)="refresh()">
    <a  data-panel="left" class="open-panel">
      <img src="./assets/images/icons/white/menu.png" alt="" title="" />
    </a>
  </div>
  <div class="navbar__col navbar__col--title">
    <a>
      <img src="./assets/images/TextLogo.png" width="150px" style="padding-top:16px;">
    </a>
  </div>
  <div class="navbar__col navbar__col--icon navbar__col--icon-right" (click)="userClick()" style="padding-right:7px;">
    <a data-panel="right" class="open-panel">
      <img src="./assets/images/icons/white/user.png" alt="" title="" />
    </a>
  </div>

</div>