<div class="navbar navbar--fixed navbar--fixed-top navbar--bg" style="background-color:black;">
  <div class="navbar__col navbar__col--icon navbar__col--icon-right">
    <a href="#" data-panel="left" class="open-panel">
      <img src="./assets/images/icons/white/menu.png" alt="" title="" />
    </a>
  </div>
  <div class="navbar__col navbar__col--title">
    <a href="index.html">
      <img src="./assets/images/TextLogo.png" width="150px" style="padding-top:16px;">
    </a>
  </div>
  <div class="navbar__col navbar__col--icon navbar__col--icon-right" style="padding-right:7px;">
    <a href="#" data-panel="right" class="open-panel">
      <img src="./assets/images/icons/white/user.png" alt="" title="" />
    </a>
  </div>

</div>