<div [hidden]="isLoading">
  <div style="margin-top: 20%; text-align: center; padding-bottom: 20%;">
    <h4 style="font-weight: bold; font-size: 30px;">SETTINGS</h4>
    <div class="loginform" style="display: inline-flex;">
      <label style="display: inline-block; width:150px; font-weight: bold; padding-top: 10px;">First Name:</label>
      <input style="display: inline-block; margin-right: 36px;" id="changeFirstName" (click)="focus('changeFirstName')" type="text"
        [(ngModel)]="firstName" class="form_input required" placeholder="First Name" />
    </div>
    <div class="loginform" style="display: inline-flex;">
      <label style="display: inline-block; width:150px; font-weight: bold; padding-top: 10px;">Last Name:</label>
      <input style="display: inline-block; margin-right: 36px;" id="changeLastName" (click)="focus('changeLastName')" type="text"
        [(ngModel)]="lastName" class="form_input required" placeholder="Last Name" />
    </div>

    <div class="loginform" style="display: inline-flex;">
        <label style="display: inline-block; width:150px; font-weight: bold; padding-top: 10px;">Username:</label>
        <input style="display: inline-block; margin-right: 36px;" id="changeUsername" (click)="focus('changeUsername')" type="text"
          [(ngModel)]="userName" class="form_input required" placeholder="Username" />
      </div>

    <div class="loginform" style="display: inline-flex;">
      <label style="display: inline-block; width:200px; text-align: left; font-weight: bold; padding: 10px 0px 0px 10px;">Enable Location Sharing for Bar Capacity Tracking:</label>
      <!-- Rounded switch -->
      <div style="padding: 3% 0 0 18%" (click)="locationTrackingSwitch()">
          <label class="switch">
              <input id="trackLocationCheckbox" type="checkbox">
              <span class="slider round"></span>
            </label>
      </div>
    </div>

    <div class="loginform" style="display: inline-flex;">
      <div style="width: 94%;">
        <input (click)="saveChanges()" readonly="readonly" class="form_submit" value="SAVE CHANGES" />
      </div>
    </div>

    <h4 style="font-weight: bold; font-size: 30px; padding-top: 30px;">TESTING FEEDBACK</h4>
    <div class="loginform" style="display: inline-flex;">
      <label style="display: inline-block; width:110px; font-weight: bold; padding-top: 10px; text-align: left;">Report Issue:</label>
      <textarea [(ngModel)]="bugReport" style="border: solid 2px black; height: 110px;" name="message" rows="10" cols="30" placeholder="Enter information about the bug."></textarea>
    </div>

    <div class="loginform" style="display: inline-flex;">
      <div style="width: 94%;">
        <input (click)="submitBug()" readonly="readonly" class="form_submit" value="SUBMIT BUG" />
      </div>
    </div>

    <div class="loginform" style="display: inline-flex;">
      <label style="display: inline-block; width:110px; font-weight: bold; padding-top: 10px; text-align: left;">Recommend Feature:</label>
      <textarea [(ngModel)]="featureRequest" style="border: solid 2px black; height: 110px;" name="message" rows="10" cols="30"
        placeholder="Enter information about your feature recommendation."></textarea>
    </div>

    <div class="loginform" style="display: inline-flex;">
      <div style="width: 94%;">
        <input (click)="submitFeatureRequest()" readonly="readonly" class="form_submit" value="SUBMIT FEATURE REQUEST" />
      </div>
    </div>

  </div>
</div>

<!--Loading-->
<div *ngIf="isLoading" class="center-screen">
  <div id="circleLoader" class="circle-loader">
    <div id="checkLoader" class="checkmarkHidden draw"></div>
  </div>
</div>