<div  id="userSlide" class="panel panel-right panel-reveal out" >
  <div class="user_login_info">

    <div class="user_thumb">

      <div class="user_details">
        <p>Welcome, <span>{{authService.currentUser.firstName}}</span></p>
      </div>
      <div class="user_avatar"><img src="./assets/images/avatar3.jpg" alt="" title="" /></div>
    </div>

    <nav class="user-nav">
      <ul>
        <li><a href="features.html"><img src="./assets/images/icons/gray/settings.png" alt="" title="" /><span>Account
              Settings</span></a></li>
        <li><a href="features.html"><img src="./assets/images/icons/gray/briefcase.png" alt="" title="" /><span>My
              Account</span></a></li>
        <li><a href="features.html"><img src="./assets/images/icons/gray/message.png" alt=""
              title="" /><span>Messages</span><strong>12</strong></a></li>
        <li><a href="features.html"><img src="./assets/images/icons/gray/love.png" alt=""
              title="" /><span>Favorites</span><strong>5</strong></a></li>
        <li><a (click)="logout()"><img src="./assets/images/icons/gray/lock.png" alt="" title="" /><span>Logout</span></a></li>
      </ul>
    </nav>
  </div>
</div>
