<!-- Main Content of Page       -->
<div id="pages_maincontent" *ngIf="displayPage">
  <h2 class="page_title" style="text-align: center;"></h2>

  <div class="page_single layout_fullwidth_padding">

    <!-- For each here -->
    <ul class="shop_items">

      <!-- BAR CARD -->
      <li id="barCard" *ngFor="let barCard of barCards" (click)="onBarCardClick()">
        <div class="shop_thumb">
          <img src={{barCard.barPictureUrl}} alt="" title="" class="barCardPic" />
        </div>
        <div class="shop_item_details">
          <h4>{{barCard.barName}}</h4>
          <ul class="features_list" style="padding: 4% 0 0 0;">
            <li>
              <span class="features_list_span">
                <img src={{barCard.highlight1Icon}} alt="" title="" />
                <span class="features_list_span_text">{{barCard.highlight1}}</span>
              </span>
            </li>
            <li>
              <span class="features_list_span">
                <img src={{barCard.highlight2Icon}} alt="" title="" />
                <span class="features_list_span_text">{{barCard.highlight2}}</span>
              </span>
            </li>
          </ul>
          <span class="open-popup shopfav">
            <img src="./assets/images/icons/black/love.png" alt="" title="" />
          </span>
        </div>
      </li>


    </ul>

    <div class="shop_pagination">
      <a href="" class="prev_shop">PREV PAGE</a>
      <span class="shop_pagenr">1/37</span>
      <a href="" class="next_shop">NEXT PAGE</a>
      <br />
      <br />
      <br />
      <br />
    </div>



  </div>

</div>