<!--       NAVBAR       -->
<div class="swiper-container-toolbar swiper-toolbar" style="background-color:black;">
  <div class="swiper-pagination-toolbar"></div>
  <div class="swiper-wrapper">
    <div class="swiper-slide toolbar-icon">
      <span class="toolbar-icon-span" id="toolbarHome">
        <img src="./assets/images/icons/white/categories.png" (click)="icon0Click()"alt="" title="" />
      </span>
      <span class="toolbar-icon-span" id="toolbarSearch">
        <img src="./assets/images/icons/white/search.png" alt="" title="" />
      </span>
      <span class="toolbar-icon-span">
        <img src="./assets/images/icons/white/love.png" alt="" title="" />
      </span>
      <span class="toolbar-icon-span">
        <img src="./assets/images/icons/white/photos.png" alt="" title="" />
      </span>
      <span class="toolbar-icon-span">
        <img src="./assets/images/icons/white/contact.png" alt="" title="" />
      </span>
    </div>
  </div>
</div>