<div class="slideInPage" [@slideInBarTrigger]="slideInBar">
  <app-full-loading *ngIf="isLoading" [loadingType]="0"></app-full-loading>

  <div id="slider_maincontent" style="top: constant(safe-area-inset-top); top: env(safe-area-inset-top);">

    <h2 style="font-size: 24px;" class="page_title_slide">{{barName}}</h2>
    <div (click)="markAttending()">
        <div *ngIf="!checkAttendingStatus()" class="btn btn--full attendingButtonNotClicked">
            <span style="vertical-align: top; line-height: 10px;" >Attending Tonight?</span>
        </div>
        <div *ngIf="checkAttendingStatus()" class="btn btn--full attendingButtonNotClicked">
            <span style="vertical-align: top; line-height: 10px;" >Attending Tonight &#10004;</span>
        </div>
    </div>
    
    <span class="barPageLike" (click)="likeBar()">
      <img id="like" [src]="checkLikedStatus()? './assets/images/icons/black/lovefilledblack.png' : './assets/images/icons/black/love.png'"
        alt="" title="" />
    </span>

    <ul id="imageGallery" style="margin-bottom: -12px;">
      <li data-thumb="img/thumb/cS-1.jpg" data-src="img/largeImage.jpg">
        <img [src]="barPictureUrl" (load)="imageLoaded()" width="100%" id="barPageImage1" />
      </li>
    </ul>

    <div class="page_single layout_fullwidth_padding" style="margin-bottom: 40px;">


      <div class="topnav">
        <div class="adjust">
          <div (click)="setActiveInfoPage(0)" [className]="activeNavIcon(0)? 'holder active'  : 'holder'">
            <span>Deals</span>
          </div>
          <div (click)="setActiveInfoPage(1)" [className]="activeNavIcon(1)? 'holder active'  : 'holder'">
            <span>Cover</span>
          </div>
          <div (click)="setActiveInfoPage(2)" [className]="activeNavIcon(2)? 'holder active'  : 'holder'">
            <span>Friends</span>
          </div>
          <div (click)="setActiveInfoPage(3)" [className]="activeNavIcon(3)? 'holder active'  : 'holder'">
            <span>Map</span>
          </div>
        </div>
      </div>

      <!-- <blockquote style="display:none">
        This mobile template that can be used to create a mobile website, a mobile web app, or even a native mobile app. The design
        is using a full width layout that works perfectly on tablets and desktop also.
        <span>SINDEVO.COM</span>
      </blockquote> -->

      <router-outlet></router-outlet>



      <!-- BAR DEALS -->
      <!-- <app-barpage-deals></app-barpage-deals> -->


      <!-- BAR COVER -->
      <!-- <app-barpage-cover></app-barpage-cover> -->



      <!-- BAR FRIENDS -->
      <!-- <div *ngIf="activeInfoPage==2" style="padding-top:50px;">
        <div class="barDealsSection">
          <h3 style="padding: 0 0 0 0;">
            <span>Friends Going Here Tonight</span>
          </h3>
        </div>

        <div>
          <ul class="features_list" *ngFor="let dailyDeal of headDailyDeals" style="padding: 0px 0 0 0; position:relative">
            <li>
              <div style="padding-bottom: 10px;">
                <span class="features_list_span">
                  <img src={{dailyDeal.dealIcon}} alt="" title="" />
                  <span class="features_list_span_text">{{dailyDeal.dealDetail}}</span>
                </span>
              </div>
            </li>
          </ul>
        </div>
      </div> -->

      





    </div>

  </div>
</div>