

<div class="slideInPage" [@slideInBarTrigger]="slideInBar">
  <app-full-loading *ngIf="isLoading"></app-full-loading>

  <div id="slider_maincontent">

    <h2 class="page_title_slide" >{{barName}}</h2>

    <ul id="imageGallery">
      <li data-thumb="img/thumb/cS-1.jpg" data-src="img/largeImage.jpg">
        <img [src]="barPictureUrl" (load)="imageLoaded()" width="100%" id="barPageImage1" />
      </li>
    </ul>

    <div class="page_single layout_fullwidth_padding">

      <blockquote style="display:none">
        This mobile template that can be used to create a mobile website, a mobile web app, or even a native mobile app. The design
        is using a full width layout that works perfectly on tablets and desktop also.
        <span>SINDEVO.COM</span>
      </blockquote>


      <!-- BAR DEALS -->
      <div class="barDealsSection">
        <h3 style="padding: 0 0 0 0;">
          <span data-bind="text: weekDay"></span> Deals & Features</h3>
        <ul class="features_list" *ngFor="let dailyDeal of dailyDeals" style="padding: 20px 0 0 0;">
          <li>
            <span class="features_list_span">
              <img src={{dailyDeal.dealIcon}} alt="" title="" />
              <span class="features_list_span_text">{{dailyDeal.dealDetail}}</span>
            </span>
          </li>
        </ul>
      </div>

      <a href="features.html" class="btn btn--full">VIEW ALL FEATURES</a>

      <h4>You can use this mobile template for:</h4>
      <ul class="simple_list">
        <li>Creating a mobile website</li>
        <li>Creating a mobile web app</li>
        <li>Creating a mobile native app (integrated with solutions like phonegap or cordova)</li>
        <li>Works perfectly on tablets and desktop also</li>
      </ul>


      <a href="http://themeforest.net/user/sindevo" class="btn btn--full">BUY IT NOW!</a>


    </div>

  </div>
</div>