<div class="slideInPage" [@slideInBarTrigger]="slideInBar">
  <app-full-loading *ngIf="isLoading"></app-full-loading>

  <div id="slider_maincontent">

    <h2 class="page_title_slide">{{barName}}</h2>
    <span class="barPageLike" (click)="likeBar()">
      <img id="like"
        [src]="checkLikedStatus()? './assets/images/icons/black/lovefilledblack.png' : './assets/images/icons/black/love.png'"
        alt="" title="" />
    </span>

    <ul id="imageGallery" style="margin-bottom: -12px;">
      <li data-thumb="img/thumb/cS-1.jpg" data-src="img/largeImage.jpg">
        <img [src]="barPictureUrl" (load)="imageLoaded()" width="100%" id="barPageImage1" />
      </li>
    </ul>

    <div class="page_single layout_fullwidth_padding" style="margin-bottom: 40px;">


      <div class="topnav">
        <div class="adjust">
          <div (click)="setActiveInfoPage(0)" [className]="activeNavIcon(0)? 'holder active'  : 'holder'">
            <span>Deals</span>
          </div>
          <div (click)="setActiveInfoPage(1)" [className]="activeNavIcon(1)? 'holder active'  : 'holder'">
            <span>Cover</span>
          </div>
          <div (click)="setActiveInfoPage(2)" [className]="activeNavIcon(2)? 'holder active'  : 'holder'">
            <span>Friends</span>
          </div>
          <div (click)="setActiveInfoPage(3)" [className]="activeNavIcon(3)? 'holder active'  : 'holder'">
            <span>Map</span>
          </div>
        </div>
      </div>

      <!-- <blockquote style="display:none">
        This mobile template that can be used to create a mobile website, a mobile web app, or even a native mobile app. The design
        is using a full width layout that works perfectly on tablets and desktop also.
        <span>SINDEVO.COM</span>
      </blockquote> -->


      <!-- BAR DEALS -->
      <div *ngIf="activeInfoPage==0" style="padding-top: 50px;">
        <div class="barDealsSection">
          <h3 style="padding: 0 0 0 0;">
            <span>Deals & Events - {{dayOfTheWeek}}</span>
          </h3>
        </div>



        <div *ngIf="!noDailyDeals">



          <!-- Head Daily Deals -->
          <div id="headDeals" style="">
            <ul class="features_list" *ngFor="let dailyDeal of headDailyDeals"
              style="padding: 0px 0 0 0; position:relative">
              <li>
                <div style="padding-bottom: 10px;">
                  <span class="features_list_span">
                    <img src={{dailyDeal.dealIcon}} alt="" title="" />
                    <span class="features_list_span_text">{{dailyDeal.dealDetail}}</span>
                  </span>
                </div>
              </li>
            </ul>
          </div>


          <!-- Tail Daily Deals -->
          <div id="demo" class="collapse">
            <ul class="features_list" *ngFor="let dailyDeal of tailDailyDeals"
              style="padding: 0 0 0px 0; position: relative;">
              <li>
                <div style="padding-bottom: 10px;">
                  <span class="features_list_span">
                    <img src={{dailyDeal.dealIcon}} alt="" title="" />
                    <span class="features_list_span_text">{{dailyDeal.dealDetail}}</span>
                  </span>
                </div>
              </li>
            </ul>
          </div>




        </div>


        <span style="margin-top: 10px;" data-toggle="collapse" data-target="#demo" *ngIf="!noDailyDeals && tailDailyDeals.length!=0"
          (click)="handleExpandButtonClick()" class="btn btn--full">{{expandDealsButtonText}}</span>

        <h5 *ngIf="noDailyDeals">There are no deals or events for today.</h5>


        <div class="barDealsSectionBelow">
          <h3 style="padding: 0 0 0 0;">
            <span>Upcoming Deals & Events</span>
          </h3>
        </div>





        <div *ngFor="let upcomingDeal of upcomingDealsHead">
          <div class="upcomingTitle" (click) = "upcomingDeal.expand()" data-toggle="collapse" [attr.data-target]="'#' + upcomingDeal.dayOfTheWeek">
            <div class="upcomingTitleAst">
              <span>  <span [innerHtml]="upcomingDeal.arrowText" style="padding: 0 8px 0 13px;"> </span> {{upcomingDeal.dayOfTheWeek}} </span>
            </div>
          </div>

          <div [attr.id]="upcomingDeal.dayOfTheWeek" class="collapse">
            <div id="upcomingDeals" style="margin: 0 20px 0 20px;">
              <ul class="features_list" *ngFor="let dailyDeal of upcomingDeal.deals"
                style="padding: 0px 0 0 0; position:relative">
                <li>
                  <div style="padding-bottom: 10px;">
                    <span class="features_list_span">
                      <img src={{dailyDeal.dealIcon}} alt="" title="" />
                      <span class="features_list_span_text">{{dailyDeal.dealDetail}}</span>
                    </span>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>

        <div id="upcomingCollapse" class="collapse">
          <div *ngFor="let upcomingDeal of upcomingDealsTail">
            <div class="upcomingTitle" (click)="upcomingDeal.expand()" data-toggle="collapse"
              [attr.data-target]="'#' + upcomingDeal.dayOfTheWeek">
              <div class="upcomingTitleAst">
                <span> <span [innerHtml]="upcomingDeal.arrowText" style="padding: 0 8px 0 13px;"> </span>
                  {{upcomingDeal.dayOfTheWeek}} </span>
              </div>
            </div>
        
            <div [attr.id]="upcomingDeal.dayOfTheWeek" class="collapse">
              <div id="upcomingDeals" style="margin: 0 20px 0 20px;">
                <ul class="features_list" *ngFor="let dailyDeal of upcomingDeal.deals"
                  style="padding: 0px 0 0 0; position:relative">
                  <li>
                    <div style="padding-bottom: 10px;">
                      <span class="features_list_span">
                        <img src={{dailyDeal.dealIcon}} alt="" title="" />
                        <span class="features_list_span_text">{{dailyDeal.dealDetail}}</span>
                      </span>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>


        <span style="margin-top: 10px;" data-toggle="collapse" data-target="#upcomingCollapse" *ngIf="upcomingDealsTail.length!=0"
          (click)="handleUpcomingExpandButtonClick()" class="btn btn--full">{{expandUpcomingText}}</span>
        



      </div>


      <!-- BAR COVER -->
      <div *ngIf="activeInfoPage==1" style="padding-top:50px;">
        <h3 class="currentBarCover">${{currentEstCover}}<br /><span>Current Reported Cover</span></h3>
        
        <div style="text-align: center">
            <span style="margin: 10px 0px 10px 0; width:300px; font-size:14px;" (click)="reportCover(5)" class="btn btn--full">Report Cover</span>
        </div>

        <h5 style="padding: 0 0 0px 0; border-bottom: 1px black solid;">Projected Cover by Hour</h5>
        <div style="margin: 7px 10px 0 10px;">
            <ul class="responsive_table" style="width:100%; text-align: center;">
                <li class="table_row" style="background-color: #636158;  color: white;">
                  <div class="table_section_small">Hour</div>
                  <div class="table_section">Price</div>
                  <div class="table_section">Time In Line</div>
                </li>
                <div *ngIf="showHourlyEstimates">
                    <li class="table_row" *ngFor="let est of hourlyEstimates" style="background-color:#f5f5f4;">
                        <div class="table_section_small">{{est.hourString}}</div>
                        <div class="table_section">${{est.cover}}</div>
                        <div class="table_section">{{est.waitString}}</div>
                      </li>
                </div>
                
                
              </ul>
        </div>
        
      </div>

      



    </div>

  </div>
</div>